$base-color: #53c653;
$strong-stroke-color: #ec939a;

%selected-label {
  fill: $base-color;
  stroke: none;
  font-weight: bold;
}

text {
  font-size: 10pt;

  &.file-label {
    text-anchor: start;
    &.selected {
      @extend %selected-label;
    }
  }

  &.commit-label {
    text-anchor: start;
    &.selected {
      @extend %selected-label;
    }
  }
}

%rect-base {
  fill-opacity: 0.6;
  &.selected {
    fill-opacity: 1.0;
  }
}

rect {
  &.stats {
    &.mod-1 {
      fill: #c6e48b;
    }
    &.mod-2 {
      fill: #7bc96f;
    }
    &.mod-3 {
      fill: #239a3b;
    }
    &.mod-4 {
      fill: #196127;
    }
    &.selected {
      stroke-width: 1pt;
      stroke: $strong-stroke-color;
    }
  }

  &.file-life {
    @extend %rect-base;
    fill: #CACFD2;
  }

  &.commit-hist {
    @extend %rect-base;
    fill: $base-color;
  }
}

path {
  &.stat-arrow {
    stroke: $base-color;
    stroke-width: 3pt;
    stroke-opacity: 0.5;
    fill: none;
    &.selected {
      stroke-width: 6pt;
      stroke: $strong-stroke-color;
    }
  }
}

$keep-color: #d1d5da;
$added-color: #6fdc89; // #28a745; // original
$deleted-color: #ec939a; // #cb2431; // original
$modified-color: #f9d86c; // #dbab09; // original

div#stat-tooltip {
  font-size: 10pt;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5pt;
  color: white;
  border-radius: 8px; // rounded corner
  white-space: nowrap;
  height: auto;
  width: auto;
  min-height: 24pt;
  pointer-events: none;

  &:after {
    border: 12px solid transparent;
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, 0.7);
    content: "";
    display: block;
    left: -12px;
    position: absolute;
    top: 10px;
    width: 0;
  }

  ul {
    padding-left: 15pt;
    margin: 0;
  }
  span {
    &.key {
      font-weight: bold;
    }
    &.files {
      font-weight: bold;
    }
    &.ins {
      color: $added-color;
      font-weight: bold;
    }
    &.del {
      color: $deleted-color;
      font-weight: bold;
    }
    &.keep {
      color: $keep-color;
      font-weight: bold;
    }
    &.mod {
      color: $modified-color;
    }
  }
}

svg.action {
  display: inline-block;
  vertical-align: text-bottom;

  path {
    &.added-mark {
      fill: $added-color;
    }
    &.deleted-mark {
      fill: $deleted-color;
    }
    &.renamed-mark {
      fill: $keep-color;
    }
    &.modified-mark {
      fill: $modified-color;
    }
  }
}
