$base-color: #53c653;
$strong-stroke-color: #ff80b3;

%selected-label {
  fill: $base-color;
  stroke: none;
  font-weight: bold;
}

text {
  font-size: 10pt;
  transition: fill .1s ease-in-out, font-weight .1s ease-in-out;

  &.file-label {
    text-anchor: start;
    &.selected {
      @extend %selected-label;
    }
  }

  &.commit-label {
    text-anchor: start;
    &.selected {
      @extend %selected-label;
    }
  }
}

%rect-base {
  transition: fill .1s ease-in-out, fill-opacity .1s ease-in-out;
  fill-opacity: 0.6;
  &.selected {
    fill-opacity: 1.0;
  }
}

rect {
  &.stats {
    &.mod-1 {
      fill: #c6ecc6;
    }
    &.mod-2 {
      fill: #8cd98c;
    }
    &.mod-3 {
      fill: #53c653;
    }
    &.mod-4 {
      fill: #339933;
    }
    &.mod-5 {
      fill: #206020;
    }
    &.selected {
      stroke-width: 1pt;
      stroke: $strong-stroke-color;
    }
  }

  &.file-life {
    @extend %rect-base;
    fill: #CACFD2;
  }

  &.commit-hist {
    @extend %rect-base;
    fill: $base-color;
  }
}

path.stat-arrow {
  transition: stroke .1s ease-in-out;

  stroke: $base-color;
  stroke-width: 2pt;
  stroke-opacity: 0.5;
  fill: none;
  &.selected {
    stroke: $strong-stroke-color;
  }
}
