text {
    font-size: 10pt;
}
text.file-label {
    text-anchor: end;
}

text.commit-label {
    text-anchor: start;
}

rect.file-life {
    fill: lightgrey;
}

path {
    stroke: limegreen;
    stroke-width: 2pt;
    stroke-opacity: 0.5;
    fill: none;
}
